/* 
 Google Fonts
 font-family: 'Open Sans', sans-serif;
 font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@700&display=swap');


/* 
 Colors: 
 green: #34AD54
 orange: #FF9933

*/
:root {
    --green: #34AD54;
    --orange:  #FF9933;
    --white: #FFFFFF;
    --black: #263A4F;
    --roboto: 'Roboto', sans-serif;
    --openSans: 'Open Sans', sans-serif;
}
body {
    font-family: var(--openSans);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--black)
}
h1, h2, h3, h4, h5 {
    font-family: var(--roboto);
}
p {
    margin-bottom: 0;
}
a {
    text-decoration: none;
    font-weight: 500;
}
.zf-bg-primary {
    background-color: var(--green);
}
.zf-bg-secondary {
    background-color: var(--orange);
}
.btn-primary {
    background-color: var(--green);
    border: 0;
}
.btn-primary:hover {
    background-color: var(--green);
    color: var(--black);
}
.btn-secondary {
    background-color: var(--orange);
    border: 0;
}
.btn-secondary:hover {
    background-color: var(--orange);
    color: var(--black);
}
/* 
    Header area css
*/
.header-area {}

.header-top {
    padding: 30px 0;
}
.header-top .phone-box,
.header-top .social-box {
    font-size: 22px;
}
.header-top .social-box h3 {
    font-family: var(--openSans);
}
.header-top .phone-box i {
    color: var(--green);
    margin-right: 7px;
}
.header-top .brand-box h1 {
    font-size: 40px;
    color: var(--orange);
}
.header-top .brand-box h1 span {
    color: var(--green);
}

.header-top .social-box {
    font-size: 16px;
}
.header-top .social-box a {
    background-color: var(--green);
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    transition: .3s;

}
.header-top .social-box a:hover {
    background-color: var(--orange);
}
.header-top .social-box i {
    color: var(--white);
}

/* Header bottom css */
.header-btm {
    background-color: var(--green);
}
.navbar-brand h1 {
    color: var(--white);
}
.navbar-brand h1 span {
    color: var(--orange)
}
.navbar-toggler {
    background-color: var(--white) !important;
}
.nav-link {
    color: var(--white);
    padding: 25px 10px;
    font-weight: 500;
    text-transform: uppercase;

}
.nav-link:hover,
.nav-link.active {
    background-color: var(--orange);
    color: var(--white) !important;
}

.navbar {
    padding: 0;
}

@media (max-width: 991px) {
    .header-btm { 
        padding: 20px 0;
    }
    .nav-link {
        padding: 10px;
    
    }
}

/* 
 Feature area css
*/
.feature-area {
    margin-top: -100px;
    position: relative;
    z-index: 1;
}
.feature-box {
    height: 300px;
    color: var(--white);
    background-image: url(../images/vegetable.png);
    background-repeat:  no-repeat;
    background-position: bottom right;
    background-size: contain;
    
}
.feature-box h3 {
    font-size: 30px;
}
.feature-box p {
    font-size: 18px;
}
.feature-box a {
    color: var(--white);
    text-decoration: none;
    margin-left: 0;
    font-size: 18px;
}